body{
    background-color: #FAF9F6;
    font-family: Verdana;
    
    
}
.introduction {
    color: #424258;
    text-align: center;
    padding-top: 25px; 
    font-size: 20px;
    margin-bottom: 10px;

}

.caption{
    color: rgb(117, 117, 148);
    font-size: 36px; 
    margin-top: 10px;
    font-weight: bold;
    
}

.btn-container{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    
}

.btn{
    font-size: 14px;

    background-color: #797990;
    color: white;

    width: 150px;
    height: 100px;

    border-radius: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;    
    display: inline-block;
    text-decoration: none;
    line-height: 100px;
    border-radius: 10px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover{
    background-color: rgba(205, 205, 255, 1);
    color: rgba(157, 157, 205, 1);
    transform: scale(1.05);
}
