.domine-header {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-subheader {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.quicksand-contents {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.icon span {
  color: #0803d8;
}

.line {
  height: 100%;
  width: 0.5px;
  border-left: 1px solid black;
}

.items-wrapper {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 26ch;
  font-family: "Domine", serif;
  font-size: clamp(24px, 2vw, 48px);
}

.sub-contents-wrapper {
  font-family: "Roboto", sans-serif;
  font-size: clamp(11px, 1vw, 16px);
}

.content {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.6;
}

.category {
  color: #537d5d;
}

.lyrics {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  white-space: pre-wrap;
  line-height: 1.6;
}

.frame {
  width: 100%;
  height: 480px;
  max-width: 768px;
}

.box {
  background-color: #f8f9fa; /* light gray */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .frame {
    width: 100%;
    height: 500px;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 425px) {
  .frame {
    width: 100%;
    max-width: 320px;
    height: 500px;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
