html,
body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

[data-bs-theme="light"] {
  --bs-body-bg: #0bda51;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #023020;
}

[data-bs-theme="dark"] .btnMode {
  --bs-body-bg: #023020;
  color: #f9f6ee;
}

[data-bs-theme="dark"] .page-link {
  --bs-body-bg: #023020;
  color: #f9f6ee;
}

.loadingBar {
  background-color: green;
  height: 2px;
  width: 0%;
}

.logo {
  font-family: "Creepster", system-ui;
  color: #01b4c6;
  -webkit-text-stroke-width: 0.0096px;
  -webkit-text-stroke-color: #fff874;
}

.navBar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 22px;
  & .options {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }

  & .options .btnMode {
    border-radius: 0.625rem;
    background-color: #778899;
    color: #faf9f6;
    font-weight: bold;
    border: none;
    box-shadow: 0rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
      0rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
  }
}

.title {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  font-family: "Creepster", system-ui;
  color: #01b4c6;
  -webkit-text-stroke-width: 0.0096px;
  -webkit-text-stroke-color: #fff874;
}

.cardHolder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.cardImg {
  border-radius: 0.9375rem;
  max-width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

.textOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.5));
  color: white;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover .textOverlay {
  opacity: 1;
}

.card:hover .cardImg {
  transform: scale(1.1);
}

.textOverlay h3 {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
}

.textOverlay p {
  margin-top: 0.3125rem;
  font-size: 16px;
}

.page-link {
  text-decoration: none;
  color: #f9f6ee;
  cursor: pointer;
  background-color: #097969;
}

.page-link:hover {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
  background-color: #00a36c;
}

#goTop {
  position: fixed;
  bottom: 1.25rem;
  right: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url("images/arrowhead-up.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: oklch(51.68% 0.0924 179.04);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
    0rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

#goTop:hover {
  box-shadow: 0rem 0.25rem 0.4375rem rgba(0, 0, 0, 0.2),
    0rem 0.25rem 0.5625rem rgba(0, 0, 0, 0.3);
}

#goTop:active {
  transform: scale(0.95);
  box-shadow: none;
}
